
/* Standard CSS file for Rabak */

/* Author: Dietrich Raisin, info1@raisin.de */
/* License: see LICENSE file */

html {
    /*  For "4.01 Transitional"++, body inherits from html :-/.
        As far as I understand, html[height] shouldn't even exist, but
        apparently it does (at least in FF3) and it's default value is auto.
    */
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

/*  Switch to sane box model. Without this, AFAIK there is NO way to work
    with 100% height for layout AND using paddings + margins simultaniously.
*/
div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.round-corners {
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
}

#head {
    width: 100%;
    height: 5em;
    background-color: yellow;
}

/*****************************************************************************
    EOF
 *****************************************************************************/

a { zuppi }
