
/* Standard CSS file for Rabak */

/* Author: Dietrich Raisin, info1@raisin.de */
/* License: see LICENSE file */

html {
    /*  For "4.01 Transitional"++, body inherits from html :-/.
        As far as I understand, html[height] shouldn't even exist, but
        apparently it does (at least in FF3) and it's default value is auto.
    */
    height: 100%;
    overflow: hidden;   /* Not standard, but it works: without FF lets you scroll even with body.overflow == 'hidden */
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

xx ol, xx ul {
    padding: 0;
    margin: 0;
}

/*  Switch to sane box model. Without this, AFAIK there is NO way to work
    with 100% height for layout AND using paddings + margins simultaniously.
    Works on all proper browsers. Doesn't work with IE7, maybe with IE8...
*/
div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.round-corners {
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
}

a {
    color: black;
}

#head-c {
    width: 100%;
    height: 150px;
    background-color: #FF8;
    background-image: url(head-bg.png);
}

#head {
    background: url(head-logo.png) no-repeat;
}

#sidebar-c {
    background: url(sidebar-bg.png) repeat-y;
    float: left;
    width: 300px;
    height: 100%;
    background-color: #F8F;
    padding-bottom: 150px;
}

#sidebar {
    background: url(sidebar-bottom.png) no-repeat 0% 100%;
}

#body-c {
    height: 100%;
    x-background-color: #EFF;
    padding-bottom: 150px;
}

#sidebar, #body {
    height: 100%;
    overflow: auto;
    padding: 0 1em;
}

#head {
    height: 150px;
    padding: 0 1em;
    overflow: auto;
}


/* ============================================================================
//      Dashboard
// ============================================================================ */

#dashboard {
}

#dashboard .bakset {
    border: 1px solid black;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    width: 220px;
}

#dashboard .bakset > h2 {
    padding: 5px;
    margin: 0;
    background-color: orange;
}


/* ============================================================================
//      Flex Boxes
// ============================================================================ */

.flex {
    border: 1px solid black;
}

.flex .icon {
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    vertical-align: bottom;
    margin: 1px;
    padding: 1px;
}

.flex > .title {
    padding: 5px;
    margin: 0;
    background-color: orange;
}

.flex > .body {
    padding: 5px;
    margin: 0;
    display: none;
}

.flex > .body > .detail {
    margin: 0;
    display: none;
    border-top: 1px dotted #666;
    margin-top: 5px;
}

.flex.open > .body,
.flex.detail > .body {
    display: block;
}

.flex.detail > .body > .detail {
    display: block;
}

.flex.no-detail > .title > .icon {
    display: none;
}

.flex.no-detail.closed > .title > .icon_closed,
.flex.no-detail.open   > .title > .icon_open {
    display: inline;
}

.flex.has-detail.closed > .title > .icon_closed,
.flex.has-detail.open   > .title > .icon_open,
.flex.has-detail.detail > .title > .icon_detail {
    border-color: red;
}

/* develop */

table.std {
    border-collapse: collapse;
    border: 1px solid #666;
}

table.std td {
    border: 1px solid #CCC;
    padding: 5px;
}


/* ============================================================================
//      EOF
// ============================================================================ */
