/*-------------------------------------------------
GENERAL
-------------------------------------------------*/

body, td, p {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    /* font-family: Trebuchet MS, Helvetica, sans-serif; */
    font-size: 16px;
    line-height: 140%;
}

body {
    background-color: #004F88;
    background-position: center;
    background-repeat: repeat-y;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
}

a:link, a:visited {
    color: #000;
    text-decoration: underline;
}

div.imgtext {
    font-size: 14px;
}

a:hover {
    color: #000;
    background-color: #D9EAEE;
    /* text-decoration: none; */
}

a.attention:link, a.attention:visited {
    color: #900;
}

a.attention:hover {
    color: #fff;
}

div.menu p.active {
    background-color: #A0C8E5;
}

div#container {
    background: #ffffff;
    width: 726px;
    height: 110%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: -50px;
    padding: 0;
    text-align: left;
    /* align: center; */
}

div#head {
    position: absolute;
    top: 0px;
}

div#content1 {
    /* background: #f030f0; */
    position: absolute;
    left: auto;
    right: auto;
    top: 175px;
    width: 530px;
    height: auto;
    margin-left: 170px;
    padding: 0;
    font-size: 0.9em;
    line-height: 1.6em;
    /* color: #9E2E2F; */
}

div#menu1 {
    /* background: #f0f030; */
    position: absolute;
    left: auto;
    right: auto;
    top: 175px;
    width: 140px;
    height: auto;
    margin-left: 10px;
}

div.content p.list {
	margin-top: 0px;
	margin-bottom: 0px;
}

xdiv.menu p {
	margin-top: 0px;
	margin-bottom: 20px;
}

div.menu p.menulevel1 {
	margin-left:15px;
}

div.content p {
	margin-top: 14px;
	margin-bottom: 0px;
}

div.content h1 {
    font-family: Georgia, Times New Roman, Times, serif;
    /* x-font-family: Palatino Linotype, Book Antiqua3, Palatino6, serif; */
	margin-top: 20px;
	margin-bottom: 10px;
    line-height: 110%;
    color: #C10F00;
}

div.content h2 {
    font-family: Georgia, Times New Roman, Times, serif;
	margin-top: 30px;
	margin-bottom: 0px;
    line-height: 110%;
    color: #810A00;
}

